@using Kanban.Core.Enums.Ticket
@using Kanban.Core.Extensions.Enum
@using Kanban.Presentation.ViewModels.Organisation

@model BoardViewModel

@{
    ViewData["Title"] = "Board";
}

<!-- Page-Title -->
<div class="row">
    <div class="col-sm-12">
        <div class="page-title-box">
            <div class="float-end">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a asp-route="organisation-index">Organisation</a>
                    </li><!--end nav-item-->
                    <li class="breadcrumb-item active">Board</li>
                </ol>
            </div>
            <h4 class="page-title">
                @Model.OrganisationName
            </h4>
        </div><!--end page-title-box-->
    </div><!--end col-->
</div>
<!-- end page title end breadcrumb -->
@await Component.InvokeAsync("ActionResultMessage")

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <div class="kanban-board">

                    @foreach (var ticketStatus in Enum.GetValues<TicketStatus>())
                    {
                        var ticketColumn = Model.GroupedTickets.FirstOrDefault(ts => ts.Key == ticketStatus);

                        <div class="kanban-col">
                            <div class="kanban-main-card">
                                <div class="kanban-box-title">
                                    <h4 class="header-title mb-3">
                                        @ticketStatus.GetDisplayName()
                                    </h4>
                                    <div class="dropdown kanban-main-dropdown">
                                        <a class="dropdown-toggle arrow-none" id="drop1" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="false" aria-expanded="false">
                                            <i class="las la-ellipsis-v font-24 text-muted"></i>
                                        </a>
                                        @if (Model.IsCurrentUserOwner)
                                        {
                                            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="drop1">
                                                <a asp-route="ticket-create" asp-route-organisationId="@Model.OrganisationId" asp-route-status="@ticketStatus" class="dropdown-item">Add Ticket</a>
                                            </div>
                                        }
                                    </div>
                                </div>
                                <div id="project-list-left" class="pb-1">
                                    @if (ticketColumn.Value != null)
                                    {
                                        foreach (var ticket in ticketColumn.Value)
                                        {
                                            <div class="card">
                                                <div class="card-body">
                                                    <div class="dropdown d-inline-block float-end">
                                                        <a class="dropdown-toggle mr-n2 mt-n2" id="drop2" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="false" aria-expanded="false">
                                                            <i class="las la-ellipsis-v font-14 text-muted"></i>
                                                        </a>
                                                        @if (Model.IsCurrentUserOwner)
                                                        {
                                                            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="drop2">
                                                                <a asp-route="ticket-edit" asp-route-organisationId="@Model.OrganisationId" asp-route-ticketId="@ticket.Id" class="dropdown-item">Edit</a>
                                                                <a asp-route="ticket-delete" asp-route-organisationId="@Model.OrganisationId" asp-route-ticketId="@ticket.Id" class="dropdown-item">Delete</a>
                                                            </div>
                                                        }
                                                    </div>
                                                    <h5 class="my-1 font-14">
                                                        @ticket.Title
                                                    </h5>
                                                    <p class="text-muted mb-2">
                                                        @ticket.Description
                                                    </p>
                                                    <p class="text-muted mb-2">
                                                        Ticket #@ticket.Id
                                                    </p>
                                                    <div class="row justify-content-center">
                                                        <div class="col-6 align-self-center">
                                                            @*<ul class="list-inline mb-0"></ul>*@
                                                        </div>
                                                        <div class="col-6 align-self-center">
                                                            @foreach (var userTicket in ticket.UserTickets)
                                                            {
                                                                <a asp-route="organisation-visitprofile" asp-route-organisationId="@ticket.OrganisationId" asp-route-userId="@userTicket.User.Id" class="float-end" data-bs-toggle="tooltip" data-bs-placement="bottom" title="@userTicket.User.FullName">
                                                                    @await Component.InvokeAsync("PrettyUserProfile", new { fullName = userTicket.User.FullName  })
                                                                </a>
                                                            }
                                                        </div>
                                                    </div>
                                                    <div class="row mt-2">
                                                        <div>
                                                            <span class="badge badge-soft-success me-2">
                                                                @ticketColumn.Key.GetDisplayName()
                                                            </span>
                                                            <div class="mt-2">
                                                                <span>
                                                                    <i class="far fa-fw fa-clock"></i> @ticket.Deadline.ToLongDateString()
                                                                </span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        }
                                    }
                                </div>
                                @if (Model.IsCurrentUserOwner)
                                {
                                    <a asp-route="ticket-create" asp-route-organisationId="@Model.OrganisationId" asp-route-status="@ticketStatus" class="btn w-100 btn-soft-primary btn-sm">
                                        Add Ticket
                                    </a>
                                }
                            </div>
                        </div>
                    }
                </div><!--end kanban-board-->
            </div><!--end card-body-->
        </div><!--end card-->
    </div><!--end col-->
</div><!--end row-->